[Desktop Entry]
Name=org-protocol
Exec=/sidraid/repo/build-DMEditor-unknown-Debug/SyncFolder %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
